:root {
  --main: #2A97DF;
  --bg: #1A1F26;
  --text: #45494F;
  --lightText: #F9F9FA;
  --correct: #28a745;
  --wrong: #dc3545;
  font-size: 62.5%;
}
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background: var(--bg);
  color: var(--lightText);
}
h1 {
  font-size: 5rem;
  font-weight: 500;
  margin-bottom: .5em;
  color: var(--main);
}
h2 {
  font-size: 4.2rem;
  font-weight: 500;
  margin-bottom: .5em;
}
h3 {
  font-size: 2.8rem;
  font-weight: 500;
  margin-bottom: .5em;
}

/***********
  GENERAL
***********/
.container {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: 2em;
  margin: 0 auto;
}
.contianer > * div {
  width: 100%;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.text-center {
  text-align: center;
}
.hide {
  display: none;
}
.btn {
  width: 200px;
  border: 1px solid var(--main);
  border-radius: 1rem;
  color: var(--lightText);
  background: var(--main);
  font-size: 1.8rem;
  padding: .75em;
  margin-bottom: 1em;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
.btn:hover {
  background: var(--lightText);
  color: var(--main);
  opacity: .9;
}

/***********
  SIGN-IN
***********/
form {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  width: 100%;
}
input {
  width: 200px;
  height: 50px;
  margin-bottom: 1em;
  padding: 1.5em;
  font-size: 1.8rem;
  border: none;
  border-radius: 1rem;
  outline: none;
  transition: border 150ms ease-in-out;
}
input:hover {
  box-shadow: none;
  border-bottom: 4px solid var(--main);
}
input::placeholder {
  color: var(--text);
}

/********
  HOME
********/
.welcome {
  margin-bottom: .1em;
}
.home h2 {
  font-size: 3.6rem;
  font-weight: 300;
  margin-bottom: 1.5em;
}
.rules {
  background: var(--lightText);
  color: var(--text);
  width: 90%;
  margin-bottom: 3em;
  padding: 1em 1em 0;
  font-size: 1.8rem;
  border-radius: 1em;
  position: relative;
}
.rules h3 {
  position: absolute;
  left: 0;
  top: 0;
  padding: .5em;
  color: var(--bg);
}
.rules i {
  position: absolute;
  right: 0;
  top: 0;
  padding: .25em .35em;
  cursor: pointer;
  transition: opacity 150ms ease-in-out;
}
.rules i:hover {
  opacity: .5;
}
.rules p {
  padding: 3em 0 1em;
  line-height: 1.2;
  letter-spacing: .5px;
  font-weight: 300;
  text-align: left;
}
.rules em {
  font-weight: 400;
}

/********
  GAME
********/
.progress-bar {
  width: 100%;
  height: 2.4em;
  margin: 0 auto 10em;
  display: flex;
  position: relative;
}
.progress-bar-full {
  height: 2.4em;
  width: 0%;
  background: var(--main);
}
.steps {
  width: 100%;
  font-size: 2rem;
  letter-spacing: 1px;
  display: flex;
  z-index: 1;
  position: absolute;
}
.step {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--text);
  color: var(--text);
  text-transform: uppercase;
}
.step:first-child {
  width: 30%;
}
.step:nth-child(2) {
  width: 30%;
}
.step:last-child {
  width: 40%;
}
.step.active {
  color: var(--lightText);
}
.questions {
  margin-bottom: .5em;
}
.choice-container {
  display: flex;
  color: var(--text);
  background: var(--lightText);
  border: 1px solid var(--main);
  border-radius: 1rem;
  margin: 1em auto;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
.choice-container:hover {
  box-shadow: inset 0 0 .5em 0 var(--main);
  color: var(--main);
}
.choice-prefix {
  color: var(--lightText);
  background: var(--main);
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  padding: .5em;
  font-weight: 300;
  font-size: 1.8rem;
}
.choice-text {
  margin: auto .5em;
  padding: .25em 0;
  width: 100%;
  font-size: 1.8rem;
}
.correct {
  background-color: var(--correct);
  color: var(--lightText);
}
.wrong {
  background-color: var(--wrong);
  color: var(--lightText);
}

/*************
  GAME OVER
*************/
.final-scores h1 {
  margin-bottom: 0;
}
.score-label {
  font-size: 2rem;
  color: var(--text);
}
.score {
  font-size: 7.5rem;
}
.high-scores {
  margin-top: 3em;
}
.row {
  display: flex;
  flex-direction: row;
}
.row h2 {
  margin-right: .5em;
  font-weight: 400;
}
.row i {
  margin-left: .25em;
  margin-top: -1em;
  cursor: pointer;
  transition: opacity 150ms ease-in-out;
}
.row i:hover {
  opacity: .5;
}
.score-list {
  margin-bottom: 3em;
  list-style: none;
}
.score-list-item {
  font-size: 2rem;
  font-weight: 300;
  color: #aaa;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
.score-list-item:hover {
  transform: scale(1.2);
  color: var(--lightText);
}


@media screen and (min-width: 560px) {
  .container {
    width: 80vw;
  }
  .progress-bar {
    width: 80%;
  }
}